.topbar{
	background-color: #206167;
}

.topbar span{
	font-size: 0.8rem;
}

.spacer{
	padding-top: 10px;
	padding-bottom: 10px;
}

.font-80{
	font-size: 0.8rem;
}

.font-60{
	font-size: 0.6rem;
}

.cart-dropdown{
	height: 300px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.cart-dropdown::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px white;
	border-radius: 10px;
	background-color: #F5F5F5;
}

.cart-dropdown::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.cart-dropdown::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	/*-webkit-box-shadow: inset 0 0 6px white;*/
	background-color: #206167;
}

.text-green{
	color: #206167;
}

.footer{
	padding-bottom: 50px;
	padding-top: 50px;
	background-color: #F2F1EF;
	text-align: center;
}

.form-input-transparent{
	background: transparent;
}

.btn-capsule{
	border-radius: 50vh;
}

.desktop-element{
	display: none;
}

.mobile-element{
	display: block;
}

.mobile-element-flex{
	display: flex;
}

.desktop-logo{
	width: 220px; 
	height: auto;
}

.mobile-logo{
	width: 53px; 
	height: auto; 
	margin-left: -15px;
}

.search-field{
	width: calc(100% - 60px);
	margin-right: -15px;
}

.btn-group-campaign{
	width: 350px;
}

.border-gray{
	border-color: gray;
}

.bottom-menu-group{
	width: 100%;
	height: 56px;
	background-color: #947D5C;
	box-shadow: 0 0 5px #333;
	display: flex;
	flex-direction: row;
}

.bottom-menu{
	width: calc((100%)/5 - 10px);
	height: 46px;
	margin: 5px;
}


.cart-product-image{
	width: 90px;
	height: auto;
}

.dropdown-cart{
	width: 100%;
}

.cart-image{
	padding-right: 15px;
}

.cart-detail{
	padding-left: 15px;
}

.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 0px;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 0px 0px 1rem 0px;
}

@media (min-width: 767px) {
	.fix-height{
		height: calc(100vh - 104px);
	}

	.social-media{
		position: absolute;
	 	bottom: 0;
	 	width: 100%;
	}

	.footer{
		height: 350px;
		padding-bottom: 50px;
		padding-top: 50px;
		background-color: #F2F1EF;
		text-align: left;
	}

	.desktop-element{
		display: block;
	}

	.mobile-element, .mobile-element-flex{
		display: none;
	}

	.dropdown-cart{
	width: 500px;
}
}